[submodule "roles/prometheus"]
	path = roles/prometheus
	url = git@github.com:joshuacherry/ansible-role-prometheus.git
[submodule "roles/alertmanager"]
	path = roles/alertmanager
	url = git@github.com:joshuacherry/ansible-role-alertmanager.git
[submodule "roles/grafana"]
	path = roles/grafana
	url = git@github.com:joshuacherry/ansible-role-grafana.git
[submodule "roles/mysql"]
	path = roles/mysql
	url = git@github.com:joshuacherry/ansible-role-mysql.git
[submodule "roles/apache"]
	path = roles/apache
	url = git@github.com:joshuacherry/ansible-role-apache.git
[submodule "roles/dhparams"]
	path = roles/dhparams
	url = git@github.com:joshuacherry/ansible-role-dhparams.git
[submodule "roles/openssl"]
	path = roles/openssl
	url = git@github.com:joshuacherry/ansible-role-openssl.git
